.responsive-grid-container {
  display: grid;
  height: 100vh;
  text-align: center;

  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 1.5fr 1.2fr 0.8fr; /* 4 rows */
  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";
  grid-gap: 0.2rem;
}

@media only screen and (max-width: 550px) {
  .responsive-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr 2.2fr 1.2fr 1.2fr 1.2fr 1fr; /* 7 rows */
    grid-template-areas: /* change/reposition layout */
      "nav"
      "sidebar"
      "main"
      "content1"
      "content2"
      "content3"
      "footer";
  }
}

.responsive-grid-container > nav {
  background: #a7ffeb;
  grid-area: nav;
}

.responsive-grid-container > main {
  background: #84ffff;
  grid-area: main;
}

.responsive-grid-container > #sidebar {
  background: #18ffff;
  grid-area: sidebar;
}

.responsive-grid-container > #content1 {
  background: #6fffd2;
  grid-area: content1;
}

.responsive-grid-container > #content2 {
  background: #6fffda;
  grid-area: content2;
}

.responsive-grid-container > #content3 {
  background: #73ffba;
  grid-area: content3;
}

.responsive-grid-container > footer {
  background: #1de9b6;
  grid-area: footer;
}
